
body{
    margin: 0 auto;
    font-family: Arial, sans-serif;
    max-width: 100%;    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(255, 255, 255), #8a265d);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


/*Section Headings*/
h2 {
    text-transform: lowercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(160, 160, 160, 0.5);
    border-bottom: 1px solid #000;
}

/* MAIN CONTENT */
main {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.3);

}

main p {
    line-height: 1.5;
    text-align: justify;
    font-size: 12px;
    font-family: 'Lexend Deca', sans-serif; 
    padding: 10px;
}


/* Mobile: Small screens (under 768px) */
@media (max-width: 767px) {
    body {
        margin: 0 15px;

    }

    h2 {
        font-size: 20px;
    }

    main {
        padding: 20px;
    }

    main p {
        font-size: 10px;
        padding: 10px;
    }

}

/* Tablet: Medium screens (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {

    main {
        padding: 20px;
    }

    main p {
        font-size: 12px;
        padding: 10px;
    }


}

/* Desktop: Large screens (1024px and up) */
@media (min-width: 1024px) {
    body {
         max-width: 1200px;
    }

    main {
        padding: 20px;
    }

    main p {
        font-size: 12px;
        padding: 10px;
    }

}






